DATABASE_URL="file:./dev.db"
NEXT_PUBLIC_APP_URL="http://localhost:3001"
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
CASDOOR_ENDPOINT=""
CASDOOR_CLIENT_ID=""
CASDOOR_CLIENT_SECRET=""
GITHUB_LOGIN_ENABLED="true"
INITIAL_SUPER_ADMIN_GITHUB_IDS=""
INITIAL_SUPER_ADMIN_CASDOOR_IDS=""
UPLOAD_STORAGE_DRIVER="local"
UPLOAD_DIR="public/uploads"
UPLOAD_PUBLIC_BASE_URL="/uploads"
S3_BUCKET=""
S3_REGION=""
S3_ENDPOINT=""
S3_ACCESS_KEY_ID=""
S3_SECRET_ACCESS_KEY=""
S3_PUBLIC_BASE_URL=""
S3_UPLOAD_PREFIX="uploads"
S3_FORCE_PATH_STYLE="false"
