DATABASE_URL="file:./dev.db"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
CASDOOR_ENDPOINT=""
CASDOOR_CLIENT_ID=""
CASDOOR_CLIENT_SECRET=""
GITHUB_LOGIN_ENABLED="true"
